@import "@/assets/styles/global.css"; /* Импортируем файл с переменными */

.main-general {
  position: relative;
  display: flex;
  background-color: var(--border-color);
  left: 5%;
  margin-right: 10%;
}

.main-general__img {
  right: 5%;
  position: relative;
}

.main-general-text {
  padding: 4%;
  max-width: 100%;
  margin-left: 10%;
}

.main-general__button__left,
.main-general__button__right {
  width: 50px;
  height: 50px;
  background-color: var(--text-color-white);
  border: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-general__button__left {
  left: 3%; /* Отодвигаем кнопку вправо за пределы основного блока */
  bottom: 45%;
  height: 100px;
  justify-content: center;
}

.main-general__button__right {
  right: 3%; 
  bottom: 45%;
  height: 100px;
  justify-content: center;
}

.main-general__button__left::before,
.main-general__button__right::before {
  content: "";
  border: 1px solid var(--back-color-black);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
}

.main-general__button__left::before {
  transform: rotate(135deg); /* Стрелка влево */
}

.main-general__button__right::before {
  transform: rotate(-45deg); /* Стрелка вправо */
}

.main-general-text-job {
  color: var(--job-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-general-text-overview {
  max-width: 70%;
}

.min-size-general-text {
  padding: 4%;
  max-width: 100%;
  display: none;
}

.min-size-general-text__h1 {
  text-align: center;
}

.min-size-general-text-job {
  text-align: center;
  color: var(--job-color);
  margin-top: 10px;
}

.min-size-general-text-overview {
  text-align: center;
}


@media (max-width: 768px) {
  .main-general {
    max-height: 401px;
  }

  .main-general-text {
    display: none;
  }

  .min-size-general-text {
    display: block;
  }

  .main-general__img {
    max-height: 383px;
  }

}

@media (max-width: 480px) {
  .main-general__img {
    max-height: 290px;
  }

    .main-general__button__left,
  .main-general__button__right {
    display: none;
  }
}

@media (max-width: 320px) {
  .main-general__img {
    max-height: 201px;
  }

  .min-size-general-text__h1 {
    font-size: 20px;
  }

    .main-general__button__left,
  .main-general__button__right {
    display: none;
  }
}