.input-container {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    transition: border 0.3s ease, background-color 0.3s ease;
  }
  
  input:hover,
  .form-group.hover-input input {
    background-color: #f6f6f6;
  }
  
  /* Наведение */
  input:focus,
  input.focus-input {
    background-color: white;
    outline: none;
  }
  
  /* Ошибка */
  .input-error input {
    border: 1px solid red;
  }
  
  .input-error .error-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 18px;
  }
  
  .input-error .error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
  
  /* Принято */
  .input-success input {
    background-color: #f6f6f6;
  }
  
  .input-success .success-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0bb071;
    font-size: 18px;
  }
  
  /* Сообщение об ошибке*/
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }