.main-picture {
  display: flex;
  margin-top: 2%;
  position: relative;
  transition: margin-top 5s ease;
}

.main-picture-blue {
  z-index: 1;
}

.main-picture-town {
  position: absolute;
  right: 0;
}

.main-picture-humans {
  position: absolute;
  bottom: 0; /* Закрепляем к нижней части родительского контейнера */
  left: calc(70% - 50%); /* Сдвигаем изображение по горизонтали */
  left: 70%;
  transform: translateX(-50%); /* Центрируем по горизонтали */
  z-index: 1;
  transition: left 0.5s ease; /* Плавный переход при изменении ширины */
}

.main-picture-landing {
  position: absolute;
  left: 10%;
  bottom: 50%;
  transform: translateX(50%);
  transform: translateY(50%);
  z-index: 2;
}

.main-picture-landing__h2 {
  color: white;
  max-width: 65%;
  transition: left 0.5s ease;
  transition: bottom 0.5s ease;
}

.main-picture-landing__button {
  background-color: #f0a500;
  color: white;
  font-size: large;
  height: 60px; /* Высота кнопки */
  padding: 0 20px; /* Внутренние отступы слева и справа */
  border: none;
  border-radius: 5px; /* Закругление углов */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  cursor: pointer; /* Курсор указателя */
}

@media (max-width: 768px) {
  .main-picture-humans {
    left: calc(
      40% - -20%
    );
  }

  .main-picture {
    margin-top: auto;
  }

  .main-picture-landing {
    left: calc(10% - 5%);
    font-size: medium;
    max-width: 65%;
    position: absolute;
  }

  .main-picture-landing__h2 {
    max-width: 100%;
  }

  .main-picture-landing__button {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .main-picture-landing {
    left: auto;
    bottom: auto;
    transform: none;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 10px;
    max-width: 100%;
    position: absolute;
  }

  .main-picture-landing__button {
    justify-content: center;
    margin-top: 120%;
  }
}