.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    max-width: 1145px;
    max-height: 1205px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    max-width: 712px;
    margin-right: 15px;
    display: flex;
  }
  
  .form-group-row {
    display: flex;
  }
  
  .form-group-item {
    flex-basis: 48%; /* Поля будут занимать по 48% ширины для равномерного размещения */
    display: flex;
    padding-right: 5px;
    margin-right: 5px;
    flex-direction: column;
  }
  
  .form-group-birthday {
    margin-bottom: 15px;
    max-width: 266px;
  }
  
  .form-group-coment {
    margin-bottom: 15px;
    max-width: 712px;
    height: 153px !important;
  }
  
  .form-group__label {
    margin-top: 5px;
    margin-left: 30px;
    text-decoration: none;
    color: #187cd3;
    cursor: pointer;
  }
  
  .form-group input[type="file"] {
    border: none;
    display: none;
  }
  
  .work-form__input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .work-form__p {
    margin: 0;
  }
  
  .work-form__a {
    margin-left: 5px;
    color: #187cd3;
    text-decoration: none;
  }
  
  .submit-button {
    background-color: #e9862a;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30%;
    align-self: flex-end;
  }
  
  .submit-button:hover {
    background-color: #d7741f;
  }
  
  .work-form {
    position: relative;
    width: 712px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 1px grey solid;
  }
  
  .work-form__input {
    width: auto;
  }

  @media (max-width: 768px) {
    .form-group {
      max-width: 688px;
    }

    .modal-content {
      max-width: 768px;
    }
  
    // .form-group-row {
    //   flex-direction: column;
    // }
  
    // .form-group-item {
    //   flex-basis: 100%;
    // }
  }
  
  @media (max-width: 320px) {
    .modal-content {
      max-width: 320px;
    }

    .work-form__a{
      font-size:11px;
    }

    .work-form__p{
      font-size:11px;
    }

    .form-group-row {
      display: block;
    }

    .form-group {
      max-width: 280px;
      width: 90%;
    }
  }