.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
  background: white;
  padding: 20px;
  /* width: 600px; */
  width: 100%;
  /* margin: 0 auto; */
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  /* border-radius: 5px; */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 712px;
}

.form-group-mobile {
  margin: 5px;
  display: flex;
  width: 354px;
}

.form-group__label {
  text-decoration: none;
  color: #187cd3;
  cursor: pointer;
}

.form-group input[type="file"] {
  border: none;
  display: none;
}

.work-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.work-form input[type="checkbox"] {
  margin-right: 10px;
}

.work-form__p {
  margin: 0;
}

.work-form__a {
  margin-left: 5px;
  color: #187cd3;
  text-decoration: none;
}

.submit-button {
  background-color: #e9862a;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: #d7741f;
}