.features {
  padding: 50px 0;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap; /* Добавляем перенос строк */
  justify-content: center;
}

.feature-item {
  width: 290px;
  height: 290px;
  background-color: white;
  border: 1px rgb(209, 208, 208) solid;
  padding: 50px;
}

.feature-content {
  justify-content: center; /* Центровка по горизонтали */
  align-items: center;
}

@media (max-width: 320px) {
  .features {
    padding: 20px 0;
  }

  .features-list {
    display: none;
  }
}

