@import "@/assets/styles/global.css"; /* Импортируем файл с переменными */

.features {
  padding: 50px 0;
  text-align: center;
  background-color: var(--text-color-white);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-item {
  width: 290px;
  height: 290px;
  background-color: var(--text-color-white);
  border: 1px var(--border-color) solid;
  padding: 50px;
}

.feature-content {
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  .features {
    padding: 20px 0;
  }

  .features-list {
    display: none;
  }
}